classes:
- service.kubernetes.master.cluster
- service.keepalived.cluster.single
- service.haproxy.proxy.single
- system.haproxy.proxy.listen.kubernetes.apiserver
parameters:
  kubernetes:
    master:
      container: false
      network:
        engine: calico
        private_ip_range: ${_param:calico_private_network}/${_param:calico_private_netmask}
        prometheus:
          enabled: true
